<?xml version="1.0"?>
<configuration>

 

  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3"/>
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings configSource="appsettings.config" />
  <!--
  Example file contents as follows:
  Note set file properties to copy always
  <appSettings>
    <add key="Modules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>
   
    <add key="MyobDeveloperKey" value="yourdeveloperkey"/>
    <add key="MyobDeveloperSecret" value="yourdevelopersecret"/>
  </appSettings>-->

  <connectionStrings configSource="connections.config" />

  <!--
  Example file contents as follows:
  Note set file properties to copy always
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Server=tcp:mys-ams-server.database.windows.net,1433;Initial Catalog=ams;Persist Security Info=False;User ID={myusername};Password={mypassword};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="ApplicationDatabase" providerName="System.Data.SqlClient" connectionString="Server=tcp:mys-ams-server.database.windows.net,1433;Initial Catalog=ams;Persist Security Info=False;User ID={myusername};Password={mypassword};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>-->


</configuration>
